<div>
  <fieldset>
    <legend>create angular app:</legend>
    <div>
      <b> 1. Install node </b>
      <hr />
      <p>   Go to <a href="https://nodejs.org/en/"> install node</a></p>
      <br />
      <img [src]="nodeInstallImage" alt="Avatar" style="width:400px;height:75px">
      <br />
      <br />

    </div>

    <div>
      <b> 2. Install angular CLI</b>
      <hr />
      <p>After the successful installation, open node CLI then install angular CLI</p>
      <pre> &gt; npm install -g @angular/cli</pre>
      <br />
      <br />
    </div>

    <div>
      <b> 3. Create angular app</b>
      <hr />
      <pre> &gt; ng new my-first-app</pre>
      <br />
      <br />
    </div>

    <div>
      <b> 5. navigat to the my-first-app folder then enter below command</b>
      <hr />
      <pre> &gt; cd my-first-app
 &gt; ng serve
      </pre>
      <br />
    </div>

    <div>
      <b> 6.View the app</b>
      <hr />
      <p> Open the browser, enter <strong><a href="http://localhost:4200/"></a>http://localhost:4200/</strong></p>
      <p>if you see <strong>App works !</strong> then you have created your first angular App successfully.
      Change the <strong>app.component.ts</strong> file and change the <strong>title</strong>, you should see the changes in the app instantly,
      Also you can add styles in <strong> style.css </strong> file.
      </p>
      <br />
      <br />
    </div>

    <strong>What you learnt?</strong>
    <ul>
      <li>Create and run angular applications.</li>
    </ul>

  </fieldset>
</div>
