<div style="overflow:auto">
  <div class="menu">
    <div class="menuitem">javascript</div>
  </div>

  <div class="main">

    <fieldset>
      
      <div>

        <p>
          <b>JavaScript (JS)</b> is a lightweight interpreted or JIT-compiled programming language with first-class functions. While it is most well-known as the scripting language for Web pages, many non-browser environments also use it, such as node.js, Apache CouchDB and Adobe Acrobat. JavaScript is a prototype-based, multi-paradigm, dynamic language, supporting object-oriented, imperative, and declarative (e.g. functional programming) styles. Read more about JavaScript.
        </p>

      </div>

    </fieldset>


  </div>
  <div class="right">
    <h2></h2>
  </div>
</div>

