<div style="overflow:auto">
  <div class="menu">

    <div class="menuitem" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="DataBinding"> Data Binding </a>
    </div>

    <div class="menuitem" routerLinkActive="active">
      <a routerLink="StringInterpolation"> String interpolation </a>
    </div>
    <div  class="menuitem" routerLinkActive="active">
      <a routerLink="TwowayDataBinding"> Two way data binding </a>
    </div>
    <div class="menuitem" routerLinkActive="active">
      <a routerLink="PropertyBinding"> Property Binding </a>
    </div>
    <div class="menuitem" routerLinkActive="active">
      <a routerLink="EventBinding"> Event Binding </a>
    </div>
   
  </div>

  <div class="main">
    <fieldset>
      <legend>Data binding:</legend>


      <div>
        <p>There are four types of data bindings:-</p>
        <ul class="list">
          <li>String interpolation</li>
          <li>Two way data binding</li>
          <li>Property Binding</li>
          <li>Event Binding</li>
        </ul>
      </div>
    </fieldset>
     <router-outlet></router-outlet>
  </div>
  <div class="right">
    <h2>Hello</h2>
  </div>
</div>
