<div style="overflow:auto">
  <div class="menu">

    <div class="menuitem" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="DataBinding"> Data Binding </a>
    </div>
    <!--
    <div class="menuitem" routerLinkActive="active">
      <a routerLink="StringInterpolation"> String interpolation </a>
    </div>
    <div  class="menuitem" routerLinkActive="active">
      <a routerLink="TwowayDataBinding"> Two way data binding </a>
    </div>
    <div class="menuitem" routerLinkActive="active">
      <a routerLink="PropertyBinding"> Property Binding </a>
    </div>
    <div class="menuitem" routerLinkActive="active">
      <a routerLink="EventBinding"> Event Binding </a>
    </div>
   -->
  </div>

  <div class="main">
     <router-outlet></router-outlet>
  </div>
  <div class="right">
    <h2></h2>
  </div>
</div>
