<nav class="navbar navbar-default">
    <!--Container starts here-->
    <div class="container-fluid">


        <!-- header menu starts here -->
       
        <ul>
          <li class="home" routerLinkActive=" active"
              [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/"> SK </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="html"> HTML 5</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="Javascript"> Javascript </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="Css"> CSS </a>
          </li>
          <li routerLinkActive = "active">
            <a routerLink="Angular"> Angular 5.x </a>
          </li>
          
          <li routerLinkActive = "active">
            <a routerLink="D3"> D3 JS </a>
          </li>
        </ul>
        <!-- header menu ends here -->


    </div>
    <!--Container ends here-->
  </nav>

<div>
  <router-outlet></router-outlet>      
</div>






