<div>
  

  <div class="main">

    <fieldset>
      <legend>Data binding:</legend>


      <div>
        <p>
          <b>HTML (HyperText Markup Language) </b> is the most basic building block of the Web. It describes and defines the content of a webpage. Other technologies besides HTML are generally used to describe a webpage's appearance/presentation (CSS) or functionality
        </p>
        <br />
        <p>
          <b>Cascading Style Sheets (CSS) </b> is a stylesheet language used to describe the presentation of a document written in HTML or XML (including XML dialects such as SVG or XHTML). CSS describes how elements should be rendered on screen, on paper, in speech, or on other media.
        </p>
        <br />
        <p>
          <b>JavaScript (JS)</b> is a lightweight interpreted or JIT-compiled programming language with first-class functions. While it is most well-known as the scripting language for Web pages, many non-browser environments also use it, such as node.js, Apache CouchDB and Adobe Acrobat. JavaScript is a prototype-based, multi-paradigm, dynamic language, supporting object-oriented, imperative, and declarative (e.g. functional programming) styles. Read more about JavaScript.
        </p>
        <p>
          <b>D3.js </b> is a JavaScript library for producing dynamic, interactive data visualizations in web browsers. It makes use of the widely implemented SVG, HTML5, and CSS standards. It is the successor to the earlier Protovis framework
        </p>

        <p>
          <b> Angular </b> is a platform that makes it easy to build applications with the web. Angular combines declarative templates, dependency injection, end to end tooling, and integrated best practices to solve development challenges. Angular empowers developers to build applications that live on the web, mobile, or the desktop
        </p>

      </div>

    </fieldset>




  </div>
  <div class="right">
    <img [src]="LOGO"  alt="Avatar" style="width:200px">
    <div>
      <h2>Manivel Arjunan</h2>
      <p class="title">Senior software developer.</p>
      <p>Randstad Technologies LC.</p>
      <p>manivel45@gmail.com</p>
      <p><button class="button">Contact</button></p>
    </div>

  </div>
</div>
