<div>
  

  <div class="main">

    <fieldset>
      
      <div>
        <hr />
        <p class="homePageTab">
          <img class="pull-left" [src]="htmlImage" alt="Avatar">
          <b class="headingColor">HTML (HyperText Markup Language) </b> is the most basic building block of the Web. It describes and defines the content of a webpage. Other technologies besides HTML are generally used to describe a webpage's appearance/presentation (CSS) or functionality
          <br />
          <a class="pull-right externalLink" href="https://developer.mozilla.org/en-US/docs/Web/HTML">To read more on MDN</a>
          <br />
        </p>
        <hr />
        <br />
        <p class="homePageTab">
          <img class="pull-left" [src]="cssImage" alt="Avatar">
          <b class="headingColor">Cascading Style Sheets (CSS) </b> is a stylesheet language used to describe the presentation of a document written in HTML or XML (including XML dialects such as SVG or XHTML). CSS describes how elements should be rendered on screen, on paper, in speech, or on other media.
          <br />
          <a class="pull-right externalLink" href="https://developer.mozilla.org/en-US/docs/Web/CSS">To read more on MDN</a>
          <br />
        </p>
        <hr />
        <br />
        <p class="homePageTab">
          <img class="pull-left" [src]="jsImage" alt="Avatar">
          <b class="headingColor">JavaScript (JS)</b> is a lightweight interpreted or JIT-compiled programming language with first-class functions. While it is most well-known as the scripting language for Web pages, many non-browser environments also use it, such as node.js, Apache CouchDB and Adobe Acrobat. JavaScript is a prototype-based, multi-paradigm, dynamic language, supporting object-oriented, imperative, and declarative (e.g. functional programming) styles. Read more about JavaScript.
          <br />
          <a class="pull-right externalLink" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">To read more on MDN</a>
          <br />
        </p>
        <hr />
        <p class="homePageTab">
          <img class="pull-left" [src]="nodeImage" alt="Avatar">
          <b class="headingColor">NODE JS </b>is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient. Node.js' package ecosystem, npm, is the largest ecosystem of open source libraries in the world<br />
          <a class="pull-right externalLink" href="https://nodejs.org/en/">NODE JS</a>
          <br />
        </p>
        <hr />
        <p class="homePageTab">
          <img class="pull-left" [src]="es6Image" alt="Avatar">
          <b class="headingColor">ECMA </b>scripting-language specification standardized by Ecma International. It was created to standardize JavaScript, so as to foster multiple independent implementations. ECMAScript for client-side scripting on the World Wide Web, and it is increasingly being used for writing server applications and services using Node.js.<a class="pull-right externalLink" href="http://es6-features.org/">ES</a>
          <br />
        </p>
        <hr />
        <p class="homePageTab">
          <img class="pull-left" [src]="typeImage" alt="Avatar">
          <b class="headingColor">Type script </b>TypeScript starts from the same syntax and semantics that millions of JavaScript developers know today. Use existing JavaScript code, incorporate popular JavaScript libraries, and call TypeScript code from JavaScript. TypeScript compiles to clean, simple JavaScript code which runs on any browser, in Node.js, or in any JavaScript engine that supports ECMAScript 3 (or newer).<a class="pull-right externalLink" href="https://www.typescriptlang.org/">Type script</a>
          <br />
        </p>
        <hr />
        <p class="homePageTab">
          <img class="pull-left" [src]="angularImage" alt="Avatar">
          <b class="headingColor"> Angular </b> is a platform that makes it easy to build applications with the web. Angular combines declarative templates, dependency injection, end to end tooling, and integrated best practices to solve development challenges. Angular empowers developers to build applications that live on the web, mobile, or the desktop
          <br />
          <a class="pull-right externalLink" href="https://angular.io/">Angular 2</a>

        </p>
        <hr />

        <p class="homePageTab">
          <img class="pull-left" [src]="d3Image" alt="Avatar">
          <b class="headingColor">D3.js </b> is a JavaScript library for producing dynamic, interactive data visualizations in web browsers. It makes use of the widely implemented SVG, HTML5, and CSS standards. It is the successor to the earlier Protovis framework
          <br />
          <a class="pull-right externalLink" href="https://d3js.org/">Data driven document</a>
          <br />
        </p>
        <hr />
      </div>

    </fieldset>




  </div>
  <div class="right">
    <img [src]="LOGO"  alt="Avatar" style="width:200px">
    <div>
      <h2>Manivel Arjunan</h2>
      <p class="title">Senior software developer.</p>
      <p>Randstad Technologies LC.</p>
      <p>manivel45@gmail.com</p>
      <p><button class="button">Contact</button></p>
    </div>

  </div>
</div>
