<div>
  <fieldset>
    <legend>Data binding:</legend>


    <div>
      <b>What is data binding?</b>
      <p>
        Display data by binding controls in an HTML template to properties of an Angular component.
      </p>
      <b>There are four types of data bindings:-</b>

      <ul class="list">
        <li>String interpolation</li>
        <li>Two way data binding</li>
        <li>Property Binding</li>
        <li>Event Binding</li>
      </ul>

    </div>

    <div>


    </div>

  </fieldset>
</div>
