<fieldset>
  <legend>Event binding:</legend>



  <div>
    <p>
      The easiest way to display a component property
      is to bind the property name through interpolation.
      With interpolation, you put the property name in the view template,
      enclosed in double curly braces {{myHero}}
    </p>

  </div>

  <div>
    <p>
      The easiest way to display a component property
      is to bind the property name through interpolation.
      With interpolation, you put the property name in the view template,
      enclosed in double curly braces {{myHero}}
    </p>

  </div>

  <div>
    <p>
      The easiest way to display a component property
      is to bind the property name through interpolation.
      With interpolation, you put the property name in the view template,
      enclosed in double curly braces {{myHero}}
    </p>

  </div>

  <div>
    <p>
      The easiest way to display a component property
      is to bind the property name through interpolation.
      With interpolation, you put the property name in the view template,
      enclosed in double curly braces {{myHero}}
    </p>

  </div>

  <div>
    <p>
      The easiest way to display a component property
      is to bind the property name through interpolation.
      With interpolation, you put the property name in the view template,
      enclosed in double curly braces {{myHero}}
    </p>

  </div>

</fieldset>
